In [46]:
from os import listdir
from os.path import isfile, join
import json
from pandas import Series, DataFrame
import pandas as pd

new_df = pd.DataFrame()

#file open_learning data file 
df = pd.read_csv('senti_score_moim.csv', encoding='utf-8')
new_df['date'] = df['날짜']
new_df['ftof_meeting'] = df['Indicator']
new_df

           date  ftof_meeting
0    2019-11-21        -361.0
1    2019-11-22        -509.0
2    2019-11-23        -633.0
3    2019-11-24        -101.0
4    2019-11-25        -338.0
..          ...           ...
373  2020-11-28        -333.0
374  2020-11-29        -293.0
375  2020-11-30        -167.0
376  2020-12-01        -171.0
377  2020-12-02        -278.0

[378 rows x 2 columns]

In [47]:
df = pd.read_csv('senti_score_onlinemoim.csv', encoding='utf-8')
new_df['n_ftof_meeting'] = df['Indicator']
new_df

           date  ftof_meeting  n_ftof_meeting
0    2019-11-21        -361.0          -174.0
1    2019-11-22        -509.0          -125.0
2    2019-11-23        -633.0           242.0
3    2019-11-24        -101.0            69.0
4    2019-11-25        -338.0            -1.0
..          ...           ...             ...
373  2020-11-28        -333.0          -127.0
374  2020-11-29        -293.0          -175.0
375  2020-11-30        -167.0          -306.0
376  2020-12-01        -171.0          -391.0
377  2020-12-02        -278.0          -206.0

[378 rows x 3 columns]

In [48]:
df = pd.read_csv('senti_score_bangyuk.csv', encoding='utf-8')
new_df['prevention'] = df['Indicator']
new_df

           date  ftof_meeting  n_ftof_meeting  prevention
0    2019-11-21        -361.0          -174.0      -461.0
1    2019-11-22        -509.0          -125.0      -797.0
2    2019-11-23        -633.0           242.0      -657.0
3    2019-11-24        -101.0            69.0      -798.0
4    2019-11-25        -338.0            -1.0      -668.0
..          ...           ...             ...         ...
373  2020-11-28        -333.0          -127.0      -644.0
374  2020-11-29        -293.0          -175.0      -755.0
375  2020-11-30        -167.0          -306.0     -1012.0
376  2020-12-01        -171.0          -391.0      -792.0
377  2020-12-02        -278.0          -206.0      -743.0

[378 rows x 4 columns]

In [49]:
df = pd.read_csv('senti_score_gujea.csv', encoding='utf-8')
new_df['regulation'] = df['Indicator']
new_df

           date  ftof_meeting  n_ftof_meeting  prevention  regulation
0    2019-11-21        -361.0          -174.0      -461.0           0
1    2019-11-22        -509.0          -125.0      -797.0           0
2    2019-11-23        -633.0           242.0      -657.0         -14
3    2019-11-24        -101.0            69.0      -798.0           0
4    2019-11-25        -338.0            -1.0      -668.0           0
..          ...           ...             ...         ...         ...
373  2020-11-28        -333.0          -127.0      -644.0       -1833
374  2020-11-29        -293.0          -175.0      -755.0       -1617
375  2020-11-30        -167.0          -306.0     -1012.0       -1764
376  2020-12-01        -171.0          -391.0      -792.0       -1380
377  2020-12-02        -278.0          -206.0      -743.0        -727

[378 rows x 5 columns]

In [50]:
df = pd.read_csv('senti_score_covid.csv', encoding='utf-8')
new_df['covid'] = df['Indicator']
new_df

           date  ftof_meeting  n_ftof_meeting  prevention  regulation   covid
0    2019-11-21        -361.0          -174.0      -461.0           0   -32.0
1    2019-11-22        -509.0          -125.0      -797.0           0   -37.0
2    2019-11-23        -633.0           242.0      -657.0         -14   -82.0
3    2019-11-24        -101.0            69.0      -798.0           0   -93.0
4    2019-11-25        -338.0            -1.0      -668.0           0   -56.0
..          ...           ...             ...         ...         ...     ...
373  2020-11-28        -333.0          -127.0      -644.0       -1833 -1071.0
374  2020-11-29        -293.0          -175.0      -755.0       -1617  -584.0
375  2020-11-30        -167.0          -306.0     -1012.0       -1764  -605.0
376  2020-12-01        -171.0          -391.0      -792.0       -1380  -685.0
377  2020-12-02        -278.0          -206.0      -743.0        -727  -806.0

[378 rows x 6 columns]

In [51]:
df = pd.read_csv('covid_num.csv')
new_df['covid_num'] = df['확진자수']
new_df

,date,ftof_meeting,n_ftof_meeting,prevention,regulation,covid,covid_num
0,2019-11-21,-361.0,-174.0,-461.0,0,-32.0,0
1,2019-11-22,-509.0,-125.0,-797.0,0,-37.0,0
2,2019-11-23,-633.0,242.0,-657.0,-14,-82.0,0
3,2019-11-24,-101.0,69.0,-798.0,0,-93.0,0
4,2019-11-25,-338.0,-1.0,-668.0,0,-56.0,0
...,...,...,...,...,...,...,...
373,2020-11-28,-333.0,-127.0,-644.0,-1833,-1071.0,488
374,2020-11-29,-293.0,-175.0,-755.0,-1617,-584.0,449
375,2020-11-30,-167.0,-306.0,-1012.0,-1764,-605.0,377
376,2020-12-01,-171.0,-391.0,-792.0,-1380,-685.0,451
377,2020-12-02,-278.0,-206.0,-743.0,-727,-806.0,511

In [52]:
new_df.to_csv('correlation_input_data.csv', encoding='utf-8-sig')